<% if @impression.errors.any? %>
 <div id="error_explanation">
  <div class="alert alert-danger">
   ご入力内容に誤りがあります。以下<%= pluralize(@impression.errors.count, "点の内容についてご確認ください
   ") %>。
    </div>
    <ul>
    <% @impression.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
   </div>
　<% end %>
