<div class="btn btn-sm btn font-s">
 <%= link_to second_register_path(current_user.second_registers.find_by(book_id: book.id)), 
method: :delete, local: true do %>
  <%= "読んだ本から除外する" %> 
 <% end %>
</div>