<% provide(:title, "RERECとは") %>
 <body class="box">
  <div class="about-menu">

    <h3>RERECとは</h3>
    <p>
     RERECは日々読んだ本のページ数を記録して、ページ数や読んだタイトルや読んだ本の累計記録を取り、評価や、コメントを共有できる読書共有サイトです。
    </p>

    <h3>RERECを作ったきっかけ</h3>
    <p>
     読書が趣味で、これまで読了した400冊くらいのタイトルの読了日をノートに記録してきましたが、日々自分が読んだページや感想などが簡単に且つ詳細に記録できたり、読んだ感想を他の読者と共有できるような、自分用の記録ツールと簡単なコミュニケーションが合わさったようなサービスがあったらいいなと思ったのがきかっけです。
    </p>

    <h4>[実装機能]</h4>
    <ul>
    <li>新規登録/ログイン機能</li>
    <li>SNSログイン機能</li>
    <li>ログアウト機能</li>
    <li>新規登録時アカウント有効化機能</li>
    <li>パスワードリセット機能</li>
    <li>フォロー/解除機能</li>
    <li>記事一覧表示機能</li>
    <li>記事詳細表示機能</li>
    <li>記事投稿機能</li>
    <li>記事削除機能</li>
    <li>画像アップロード機能</li>
    <li>動画アップロード機能</li>
    <li>ページネーション機能</li>
    <li>ユーザー検索機能</li>
    <li>投稿内容検索機能</li>
    <li>レスポンシブ対応</li>
    </ul>

    <div id="name">
     <p>REREC開発者：<%= link_to "Yōsuke", "https://yo-suke-blog.com/", { :target => "_blank" } %></p>
    </div>
　 </div>
 </body>
