<% provide(:title, "RERECとは") %>
 <body class="box">
  <div class="about-menu">

    <h3 style="font-weight: bold;">RERECとは</h3>
    <p>
     RERECは読みたい本を検索して積本登録したり、読中のメモの登録、読んだ本の登録をすることで、自動でページ数や読んだタイトルや冊数の累計記録を取ることが出来る読書管理アプリです。
    </p>

    <h3 style="font-weight: bold;">RERECを作ったきっかけ</h3>
    <p>
     読書が趣味で、読んだ本は必ずタイトルと読み終わった日をノートに記録するのが私の習慣なのですが、これをアプリで管理したと思ったのが作るに至ったきっかけです。
     もちろん既存の読書管理アプリも使ったことはありますが、私としては「読んだ本の記録」と「次読む本の検索登録」ができれば良いだけなので、これらの操作が少ないページ推移で実現きる書籍管理アプリがあったらいいなと思い、作りました。
    </p>

    <h4>[実装機能]</h4>
    <ul>
    <li>新規登録/ログイン機能</li>
    <li>テストユーザーログイン機能</li>
    <li>SNSログイン機能</li>
    <li>ログアウト機能</li>
    <li>Google Books API組み込みによる書籍検索機能</li>
    <li>読本集計機能</li>
    <li>読本表自動生成</li>
    <li>記事投稿/編集/削除機能</li>
    <li>記事内容/登録した書籍タイトル検索機能</li>
    </ul>

    <div id="name">
     <p>REREC開発者：<%= link_to "Yōsuke", "https://yo-suke-blog.com/", { :target => "_blank" } %></p>
    </div>
　 </div>
 </body>
