<body class="body" style="background: url(assets/memo.jpg) center 30px / cover no-repeat fixed;">
  <div class="container center rerec_top">
   <h1>読書日記アプリREREC</h1>
    <% if logged_in? %>
     <div class="s-button">
      <%= link_to "本をさがす", search_books_path, class: "btn btn-lg btn-info font-s" %>
     </div>
    <% else %>
     <div class="s-button">
      <%= link_to "はじめる", 'started_page', class: "btn btn-lg btn-info font-s" %>
     </div>
    <% end %>
  </div>
</body>