<hr style="margin-top: 50px;">
<% if @books.any? %>
 <h3 style="font-weight: bold; text-align: center; margin-bottom: -40px; ">検索結果</h3>
<% end %>
<div class="container">
 <div class="row">
   <%= render partial: 'books/book_searching', collection: @books, as: :book %>
  <div class="mt-3">
   <%= paginate @books %>
  </div>
 </div>
</div>

