<% provide(:title, "本を検索する") %>
<% unless @books.any? %>
<div style="margin-top: -20px;">
<h3 style="font-weight: bold; text-align: center; margin: 40px 0;">- 本を検索する -</h3>
</div>
<% end %>
<div class="container search-nav-1">
  <%= form_with model: @search_form, url: search_books_path, scope: :q, local: true, method: :get do |f| %>
   <div class="input-group">
    <%= f.search_field :keyword, class: 'form-control', value: @search_form.keyword, placeholder: 'キーワードを入力してください' %>
   <span class="input-group-btn">
    <%= submit_tag "検索", class: "btn btn-default text-white" %>
   </span>
   <% end %>
   </div>
</div>
 <%= render 'books_searching', books: @books %>