@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing{
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

@media(max-width: 768px){
    .footer{display:none; }
}

@media(min-width: 768px){
    .bottom-menu{display:none; }
}

$gray-medium-light: #eaeaea;


/*************************************/
/*home.html.erbスタイリング*/

.jumbotron {
  max-width: 100%;
  height:auto;
 }

.rerec_top > h1 {
  font-family: 'Moon';
  src: font-url('Moon2.0-Bold.otf');
  font-size:50px;
  padding: 10%;
  color: white;
  text-shadow: 1px 1px 2px gray;
}

.font-s {
  font-size:20px;
}

/* ログイン実装後アクティブにする */
/*_home_for_after_logged_in.html.erb*/
/*.user_info > h1 {
  font-weight: bold;
 }*/


/*************************************/
/* home page等のbobyコンテンツとヘッダーとの間隔設定 */

body {
  font-weight: bold;
  font-family: 'Moon';
  src: font-url('Moon2.0-Bold.otf');
  padding-top: 120px;
  margin-top: 10px;
  padding-bottom: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/*************************************/
/* 全体の文字レイアウト設定 */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/*************************************/
/* formレイアウト */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


/* メールアドレスでログインページ　*/

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span{
    margin-left: 20px;
    flont-weight:normal;
  }
}

#session_remember_me{
  width: auto;
  margin-left: 0;
}

/*************************************/
/* form エラーのスタイリング */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
} 

/*************************************/
/* header設定 */

.input-group-btn .btn {
  font-weight:bold;
  color: #000000;
}
.search-nav {
  width: 300px;
  padding-top: 8px;
}

.navbar-default {
  border-bottom:none;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: #5BC0DE;
  }
 }

.navbar-right  {
  font-weight: bold;
}

.navbar-fixed-top {
  background-color:#000000;
  padding: 3.5px 0;
  }

#logo {
  font-weight: bold;
  float: left;
  margin-right: 10px;
  font-size: 1.9em;
  color: white;
  /*text-shadow: 1px 1px 2px gray;*/
  letter-spacing: -1px;
  padding-top: 7px;
  font-family: 'Moon';
  src: font-url('Moon2.0-Bold.otf');
  &:hover {
    text-shadow: 1px 1px 2px #515151;
    text-decoration: none;
  }
}



/*************************************/
/* footer設定 */
/* レスポンシブ */
/*PC表示の際はボトムメニューは表示しない*/

  .bottom-menu {
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    height:45px;/*高さ*/
    margin:0;
    padding:0;
    background-color:#909090;/*背景色*/
    border-top:2px solid #909090;/*バーの上の線*/
    border-bottom:2px solid #909090;/*バーの下の線*/
    z-index:30;}

  .bottom-menu > li {
    margin-top: 12px; 
    margin-left:15px;
    float:left;
    width:25%;
    color: white;
    list-style-type:none;
    text-align:center;
    text-decoration:none;
    font-size:13px;}


/* PC表示 */

.footer {
  margin-top: 145px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: black;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    margin-top: 10px;
    float: left;
    font-size: 13px;
  }
  ul {
      float: right;
      list-style: none;
    li { 
       margin-top: -10px;
       font-size: 13px;
       float: left;
       margin-left: 15px;
    }
  }
}

/* footerメニュー設定 */

.footer-menu {
  margin-top: -60px;
}

.footer-menu > h3 {
    line-height: 30px;
}

.footer-menu > p {
  line-height: 25px;
}

.about-menu > h3 {
  line-height: 40px;
}

.about-menu > h4 {
  font-weight: bold;
  margin-top: 40px;
  margin-left: 40px;
  line-height: 40px;
  color: black;
}
.about-menu {
  margin-top: -60px;
}

.about-menu > p {
  line-height: 35px;
}

#name {
  margin-top: 25px;
  line-height: 30px;
  font-size: 16px;
}


/*************************************/
/* started_page.html.erb */
/* gest-login-button */
.gest {
  margin-top: 20px;
  text-align: center;
}
.gest-login {
  background-color: black;
  //margin-left: 20px;
  display: inline-block;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 8px 80px;
  max-width: 400px;
  width: 100%;
}
.gest-login:hover {
  background-color: #3b3b3b;
  color: white;
  text-decoration: none;
}
/*************************************/
/* signup-button */
.start {
  text-align: center;
}

.signup {
  background-color: #09095f;
  //margin-left: 20px;
  display: inline-block;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 8px 80px;
  max-width: 400px;
  width: 100%;
}
.signup:hover {
  background-color: #2e4a88;
  color: white;
  text-decoration: none;
}
/*************************************/
/* facebook-login-button */
.facebook {
  margin-top: 20px;
  text-align: center;
}
.facebook-login {
  background-color: #2e4a88;
  //margin-left: 20px;
  display: inline-block;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 8px 80px;
  max-width: 400px;
  width: 100%;
}
.facebook-login:hover {
  background-color: #39558f;
  color: white;
  text-decoration: none;
}
/*************************************/
/* twitter-login-button */
.twitter {
  margin-top: 20px;
  text-align: center;
}
.twitter-login {
  background-color: #3fa0f7;
  //margin-left: 20px;
  display: inline-block;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 8px 80px;
  max-width: 400px;
  width: 100%;
}
.twitter-login:hover {
  background-color: #5ec9ff;
  color: white;
  text-decoration: none;
}
/*************************************/
/* mail-login-button */
.mail {
  margin-top: 20px;
  text-align: center;
}
.mail-login {
  background-color: #3dc1d8;
  //margin-left: 20px;
  display: inline-block;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 8px 80px;
  max-width: 400px;
  width: 100%;
}
.mail-login:hover {
  background-color: #43d3ec;
  color: white;
  text-decoration: none;
}

/* info.html.erb .login-info */
.login-info {
  margin-top:20px;
  text-align: center;
  font-size: 14px;
  
}

/* new.html.erb login-button */
.login-button {
  font-weight: bold;
}

/*************************************/
/* 「新規登録」「ログイン」のスタイリング */
/* users/new.html.erb static_pages/new.html.erb 共通クラス */

.flash-margin {
  margin-bottom: 65px;
}
.page-title  {
  overflow: hidden;
  margin-left: -30px;
  font-size: 11px;
  font-weight:bold;
  margin-top: -55px;
}
.page-title > h1  {
  font-size: 26px;
  font-weight:bold;
}


/*************************************/
/* show.html.erbのサイドバーとgravatarのスタイリング */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;

    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/*************************************/
/* デバッグ表示を整形 */
/* mixins, variables, etc. */
@mixin box_sizing{
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

.debug_dump {
 clear: both;
 flort: left;
 width: 100%;
 margin-top: 45px;
 @inxlude box-sizing;
}

/*************************************/
/* login formのレイアウト */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/*************************************/
/* users/show/reading,readed.want_booksに配置したボタン */
.container {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
}
.btn-border {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #1a5a9b;
  font-size: 16px;
  color: #1a5a9b;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.btn-border:hover {
  background-color: #1a5a9b;
  border-color: #2f78c2;
  color: #FFF;
}
/*************************************/
/* indexページのスタイリング */
.users{
  list-style:none;
  margin:0;
  li{
   overflow:auto;
   padding: 10px 0;
   border-bottom: 1px solid $gray-lighter;
  }
}
